<% @work_instruction.each do |work_instruction| %>
<div class="booyah-box col-xs-10 col-xs-offset-1">
<ul>
<ul><%= work_instruction.name %></ul>
<ul><%= work_instruction.workcode %></ul>
<ul><%= work_instruction.description %></ul>
</ul>
</div>
<% end %>
