<table class="table-striped col-xs-12">
  <tr>
    <th><b>Name</b></th>
    <th><b>Code</b></th>
    <th><b>Description</b></th>
<tr>
  <td><%= @work_instruction.name %></td>
  <td><%= @work_instruction.workcode %></td>
  <td><%= @work_instruction.description %></td>
  </tr>
</table>
