
<h2><%= @procedure.name %></h2>
<h4>Work Instructions</h4>
<table class="table-striped col-xs-10">
  <tr>
    <th><b>Name</b></th>
    <th><b>Code</b></th>
    <th><b>Description</b></th>
  </tr>
  <% @procedure.work_instructions.each do |work_instruction| %>
  <tr>
    <td><%= work_instruction.name %></td>
    <td><%= work_instruction.workcode %></td>
    <td><%= work_instruction.description %></td>
  </tr>
  <% end %>
</table>
