<div class="booyah-box col-xs-10 col-xs-offset-1">
  <%= @procedure.name %>
  <% @procedure.work_instructions.each do |work_instruction| %>
  <ul>
    <%= work_instruction.name %>,
    <%= work_instruction.workcode %>,
    <%= work_instruction.description %>
  </ul>
  <% end %>
</div>
